<div class="side-bar-header">
  <div class="header-name">
    <%= link_to current_user.name , edit_user_path(current_user) %>
  </div>
  <div class="create-room">
    <%=link_to "チャットを作成する", new_room_path %>
  </div>
</div>

<div class="groups">
  <% current_user.groups.each do |group| %>
    <div class="group">
      <div class="group-name">
        <%= link_to group.name, group_messages_path(room) %>
      </div>
    </div>
  <% end %>
</div>