<div class='wrapper'>
  <div class='side-bar'>
    <%= render partial: "message_side_bar" %>
  </div>
  <div class='chat'>
    <%= render partial: "message_main" %>
  </div>
</div>



<%# , locals: { hoge: hoge } %>