<%# <div class='wrapper'>
  <div class='side-bar'>
    <%= render "messages/_message_side_bar" %>
  <%# </div>
</div> %>

<%# トーク一覧（ログインユーザーのみ可） %>
  <%# <div class='room-contents'>
    <h2 class='title'>ルーム一覧</h2>
    <ul class='room-lists'> %>
      <%# @rooms.each do |room| %>
        <%#= link_to root_path do %>
          <%# <li class='room-list'>
          <div class='room-img-content'> %>
            <%#= image_tag room.image.variant(resize: '500x500'), class: "room-img" %>
          <%# </div>
        <% end %>
        <%# <div class='room-info'>
          <h3 class='room-name'> %>
            <%#= room.name %>
          <%# </h3>
        </div> %>
        <%# end %>
      <%# </li>
    </ul>
  </div> %>
<%# /トーク一覧（ログインユーザーのみ可） %>